/* Remkin76 Colour Scheme */
:root {
  --sand: #ba9466;
  --cambridgeBlue: #8db1ab;
  --slateGrey: #587792;
  --darkGrey: #292828;
  --medGrey:#545353;
}


/* Sets the main content to flex wrap */
main {
  flex-wrap: wrap;
}


/* Sets the body content globally */
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}


/* Sets header  */
h1 {  
  font-size: 2rem;
  padding-left: 120px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
}



/* Sets the background of the main header  */
h1{
  background-color: var(--sand);
}


/* Sets the styling of the header for each section content */
h2 {
  font-size: 2rem;
  color: var(--slateGrey);
  padding:50px;
}


/* Sets the styling for the paragraph, and the header that sits over each website image */
p, h3 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--medGrey);
}


/* Sets the unique styling of the main webiste in the my work section, so that it is twice the width of the website images below */
.myWorkMainImage h3 {
  position: absolute;
  margin-top:45%;
  margin-left:0;
  padding:10px;
  z-index:999;
  background-color: #587792;
  opacity: 80%;
  color: #292828;
}


/* Sets the image sizing and styling of the website images */
.myWorkCardImage h3 {
  font-size: 1rem;
  position: absolute;
  margin-top:40%;
  margin-left:0;
  padding:5px;
  z-index:999;
  background-color: #587792;
  opacity: 80%;
  color: #292828;
}


/* Sets the styling of the header which is displayed in the footer */
h4 {
  text-align: center;
  color: #292828;
}


/* Sets the styling of the header of the page */
header {
  position: sticky;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display:flex;
  max-height: 100px;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  background: var(--slateGrey);
  color: var(--darkGrey);
  align-items:center;
  justify-content: space-between;
  z-index: 999;
}


/* Sets the styling of the avatar image so that it sits inside the header */
.avatar{
  height:60px;
  position: absolute;
  padding-left:40px;
}


/* Sets the styling of the navigation links in general */
nav {
  display: flex;
  background-color: var(--slateGrey);
  margin-left: auto;
}


/* Sets the styling of the back image displayed just under the header */
.subHeading{
  width: 100%;
  height: fit-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Sets the styling of the beach image to display in the subHeading  */
.subHeading img {
  max-width: 100%;
  object-fit: contain;
  display: inline-flex;
}


/* Sets the default section styling */
section{
  width: 100%;
  height: fit-content;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:10px;
}


/* Sets the styling for the main content headers */
.sectionHeader{
  width: 40%;
  text-align: right;
}


/* Sets the styling for each paragraph section which may not be a written paragraph */
.sectionParagraph{
  border-left: 5px solid var(--slateGrey);
  padding:20px;
  width:80%;
  display: flex;
  flex-wrap: wrap;
}


/* Sets the anchor styling where the parent in .sectionParagraph */
.sectionParagraph a{
  color:#545353
}


/* Sets the work section as a grid to align all website images */
.work{
  padding:20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
}


/* Sets the main image to take up two columns width */
.myWorkMainImage{
  grid-column: span 2; /* make the main image take up two columns */
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* Sets the other website image to sit inside the grid */
.myWorkCardImage{
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* Sets all anchor styling */
a {
  font-size: 1.5rem;
  position:relative;
  display:inline-flex;
  text-decoration: none;
  color: var(--darkGrey);
  padding: 10px;
  transition: color 0.5s ease-in-out; 
  align-items:right;
  margin: 5px;
}


/* Sets underline of certain anchors */
nav a::after, .sectionParagraph a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--cambridgeBlue);
}


/* Style for the underline */
nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--cambridgeBlue);
  transition: height 0.5s ease-in-out;
  z-index: -1;
}


/* Sets underline of certain anchors */
.sectionParagraph a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--cambridgeBlue);
  transition: height 0.5s ease-in-out;
  z-index: 1;
  opacity: 50%;
}



/* Animation on hover */
nav a:hover, .sectionParagraph a:hover {
  color: var(--darkGrey);
  z-index: 1;
}


/* Animation to lift underline */
nav a:hover::before, .sectionParagraph a:hover::before {
  height: 100%;
}


/* Sets the basic styling of the footer */
footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  background-color: #8db1ab;
}


/* Sets the media query where the screen width is below 992px */
@media screen and (max-width: 992px) {
  nav a, .sectionParagraph a {
    font-size: 1rem;
  }

  h1{
    font-size: 1.5rem;
    padding-left: 100px;
  }

  .avatar{
    height:50px;
    padding-left:40px;
  }
}


/* Sets the media query where the screen width is below 768px */
@media screen and (max-width: 768px) {
  
  main,section {
    flex-direction: column;
  }
  
  nav a, .sectionParagraph a  {
    font-size: 0.7rem;
  }

  h1{
    font-size: 1rem;
    padding-left: 90px;
  }

  h2{
    position: relative;
    bottom:0;
    padding:0 30px 0;
  }

  .avatar{
    height:40px;
    padding-left:40px;
  }

  .sectionHeader{
    margin-top: 10px;
    border-right: none;
    border-bottom: 5px solid var(--slateGrey);
  }

  .work, .sectionHeader, .sectionParagraph {
    border-left:none;
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  p{
    padding:20px;
  }
}
